<h1>{{showAllDevices()?'All':'UCOM-CONNECT'}} Devices</h1>
@if(filteredScanResults().length===0){
<p class="no-devices-info">
  Currently no devices found. Sometimes the UCOM-Connect device has to be reset (push button
  next to status-led for three seconds. Disconnect and reconnect device to power).
  <span class="font-bold">Only one device can be connected at the time</span>
</p>
}
<ul class="scan-results-list">
  @for(result of filteredScanResults();track result){

  @let isUcomConnectDevice=(result | isUcomConnectDevice);

  <li class="result-item card-std" (click)="goToDevice(result,isUcomConnectDevice)">
    <button class="result-item-inner-container" (click)="goToDevice(result,isUcomConnectDevice)">
      <div class="device-data">
        <h3 class="text-left">Device name: {{result.device.name}}</h3>
        <p class="text-left">Device Id: {{result.device.deviceId}}</p>
        <p class="text-left">Local Name: {{result.localName}}</p>
        <ul>
          @for(serviceDataPointKeyValue of (result.serviceData | keyvalue);track serviceDataPointKeyValue.key ){
          <li>
            <p>
              {{serviceDataPointKeyValue.key}}: {{serviceDataPointKeyValue.value}}
            </p>
          </li>
          }
        </ul>
      </div>
      <div class="action-container pl-4">
        <h2 [ngClass]="isUcomConnectDevice?'icon clickable':'icon'">
        <fa-icon  [icon]="actionIcon"></fa-icon>
        </h2>
      </div>
    </button>
  </li>
  }
</ul>

@if(filteredScanResults().length<scanResults().length || showAllDevices()){ <button mat-button
  class="btn-std show-all-btn" (click)="toggleShowAllDevices()">
  {{showAllDevices() ? 'Show less devices' : 'Show all devices'}}
  </button>
  }