:root {
  /*************************
    || FONT FAMILY
  **************************/
  --font-primary: 'Ubuntu', sans-serif;

  /*************************
    || GRAYSCALE
  *************************/
  --gray-50: #fcfafa;
  --gray-100: #f3efef;
  --gray-300: #d5d0d0;
  --gray-500: #bdbaba;
  --gray-700: #595757;
  --gray-800: #323030;
  --gray-low: var(--gray-50);
  --gray-medium: var(--gray-100);
  --gray-high: var(--gray-300);

  /*************************
    || FONT SIZE
  *************************/
  --fs-8: 8px;
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-32: 32px;
  --fs-34: 34px;
  --fs-36: 36px;
  --fs-38: 38px;

  /*************************
    || RADIUS
  *************************/
  --radius-xs: 6px;
  --radius-s: 12px;
  --radius-m: 16px;
  --radius-l: 36px;
  --radius-xl: 100px;

  /*************************
    || SPACING
  *************************/
  --space-0: 0rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 3rem;
  --space-6: 6rem;
  --space-7: 12rem;

  /*************************
    || Diemens
  *************************/
  --max-w-width-wrapper: 512px;
  --input-height: 52px;

  /*************************
    || COLORS
  *************************/
  --color-primary: #ff5e00;
  --color-secondary: #ff0095;


  /*************************
    || BOX-SHADOWS
  **************************/
  --box-shadow-std: 0px 10px 15px rgb(0 0 0 / 20%);
  --box-shadow-light: 0px 10px 15px rgb(0 0 0 / 10%);

}