<h1 class="pb-3">Setup UCOM Connect Device</h1>
<div class="stepper-container rounded-lg overflow-hidden shadow-xl">
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step>
      <ng-template matStepLabel>Setup Device Id</ng-template>
      <div class="my-5">
        @if(deviceIdCharacteristic){
        <app-device-characteristic [deviceId]="scanResult()?.device?.deviceId" [characteristic]="deviceIdCharacteristic"
          [isSelfCreated]="false" (readEvent)="stepper.next()">
        </app-device-characteristic>
        }
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Setup cloud URI</ng-template>
      <div class="my-5">
        @if(cloudURICharacteristic){
        <app-device-characteristic #cloudUriCharacteristicElem [deviceId]="scanResult()?.device?.deviceId"
          [characteristic]="cloudURICharacteristic" [isSelfCreated]="false" (readEvent)="stepper.next()">
        </app-device-characteristic>
        }
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Setup wifi SSID</ng-template>
      <div class="my-5">
        @if(wifiSSIDCharacteristic){
        <app-device-characteristic [deviceId]="scanResult()?.device?.deviceId" [characteristic]="wifiSSIDCharacteristic"
          [isSelfCreated]="false" (readEvent)="stepper.next()">
        </app-device-characteristic>
        }
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Setup wifi password</ng-template>
      <div class="my-5">
        @if(wifiPasswordCharacteristic){
        <app-device-characteristic [deviceId]="scanResult()?.device?.deviceId"
          [characteristic]="wifiPasswordCharacteristic" [isSelfCreated]="false" (writtenEvent)="stepper.next()">
        </app-device-characteristic>
        }
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Connecting</ng-template>
      @if(finished()){
      <div class="flex items-center my-4">
        <fa-icon [icon]="finishedIcon" size="2x" class="text-green-500 mr-3"></fa-icon>
        <p class="!text-green-500">
          Your device is now configured and ready to use.
        </p>
      </div>
      }@else {
      <div class="flex items-center mb-3">
        <mat-spinner></mat-spinner>
        <p class="ps-4">
          Your device is currently attempting to establish a connection. Below you can see the current status
        </p>
      </div>
      }
      @if(statusCharacteristic){
      <app-device-characteristic #statusCharacteristicElem [deviceId]="scanResult()?.device?.deviceId"
        [characteristic]="statusCharacteristic" [isSelfCreated]="false" (readEvent)="onConsoleReadValueUpdated()">
      </app-device-characteristic>
      }

      <!-- Trouble shooting -->
      <div class="pt-5">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Troubleshooting </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="py-3">
              <fa-icon [icon]="infoIcon"></fa-icon> If your device is not connecting, you can try the following steps:
            </p>
            @if(reconnectCharacteristic){
            <div class="mb-5 pb-5">
              <app-device-characteristic #reconnectCharacteristicElem [deviceId]="scanResult()?.device?.deviceId"
                [characteristic]="reconnectCharacteristic" [isSelfCreated]="false">
              </app-device-characteristic>
            </div>
            }

            @if(restartCharacteristic){
            <app-device-characteristic [deviceId]="scanResult()?.device?.deviceId"
              [characteristic]="restartCharacteristic" [isSelfCreated]="false">
            </app-device-characteristic>
            }

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </mat-step>
  </mat-stepper>
</div>