<div class="characteristics-item">

  <div class="card-header">
    <div class="infos">
      <div class="flex items-center">
        <h3 class="pe-3">{{characteristic().title}}</h3>
        @if(characteristic().infos.length>0){
        <button class="me-3" mat-icon-button (click)="openCharacteristicInfosDialog()">
          <fa-icon [icon]="infoIcon"></fa-icon>
        </button>
        }
        @if(isSelfCreated()){
        <button mat-icon-button (click)="editCharacteristic()">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
        }
      </div>
      @if(characteristicIsReadable()){

      <!-- Value -->
      <div class="value-container">
        <p>Value:</p>
        <p [ngClass]="updated()?'value updated':'value'">
          @switch (characteristic().dataType) {
          @case(bluetoothDataType.Boolean){
          {{characteristic().value?'True':'False'}}
          }
          @default {
          {{characteristic().value.length>0?characteristic().value:'No value'}}
          }
          }
        </p>
      </div>

      <!-- Info -->
      @if(characteristic().infos.length>0){
      @let infoOfValue=(characteristic().value | valuetoToCharacteristicInfo:characteristic().infos);
      @if(infoOfValue){
      <div class="info-of-value-container">
        <p class="info-of-value">Info: {{infoOfValue.description}}</p>
      </div>
      }
      }

      <!-- Description -->
      @if(characteristic().bluetoothAction===bluetoothAction.Read){
      <p>
        {{characteristic().description}}
      </p>
      }
      }
    </div>
    @if(characteristicIsReadable() ){
    <button mat-icon-button [ngClass]="isReading()?'read-btn is-reading':'read-btn'" (click)="readCharacteristic()">
      <fa-icon [icon]="readIcon"></fa-icon>
    </button>
    }
  </div>

  @if(characteristicIsWritable()){
  <div class="input-container flex flex-wrap justify-between">
    <div class="input-wrapper w-full sm:w-75 sm:mt-5 me-3">
      @if( !characteristic().onlyPredefinedValuePossible){
      <form [formGroup]="characteristicValueForm">
        @switch (characteristic().dataType) {
        @case(bluetoothDataType.Boolean){
        <mat-slide-toggle class="w-full pb-4 pt-3"
          [formControlName]="FGK.BooleanValue">{{characteristic().description}}</mat-slide-toggle>
        }
        @case (bluetoothDataType.Number){
        <mat-form-field appearance="outline">
          <mat-label>{{characteristic().description}}</mat-label>
          <input matInput [formControlName]="FGK.NumberValue" placeholder="Value to send" />
        </mat-form-field>
        }
        @default {
        <mat-form-field class="w-full">
          <mat-label>{{characteristic().description}}</mat-label>
          <input matInput [formControlName]="FGK.StringValue" placeholder="Value to send" />
        </mat-form-field> }
        }
      </form>
      }@else {
      <p class="pb-3">{{characteristic().description}}</p>
      }
    </div>
    <button mat-flat-button class="sm:mt-5 w-full sm:w-25" (click)="writeCharacteristic()">
      <span [ngClass]="isWriting()?'write-btn-text is-writing':'write-btn-text'">
        {{characteristic().sendBtnText}}
      </span>
    </button>
  </div>
  }

</div>