 .characteristics-item {
    .card-header {
      display: flex;
      align-items: center;

      .infos {
        width: 100%;

        .value-container {
          display: flex;
          align-items: center;

          .value {
            background-color: transparent;
            transition: 0.4s background-color;
            padding: var(--space-1) var(--space-2);
            margin-left: var(--space-1);
            border-radius: var(--radius-s);

            &.updated {
              background-color: rgb(from var(--color-primary) r g b / 0.2)
            }
          }
        }

        .info-of-value-container{
          margin: var(--space-2) 0;
        }
      }

      .read-btn {
        &.is-reading {
          animation: blinkAnimation 2s infinite;
        }
      }
    }

    .input-container {

      .write-btn {
        height: var(--input-height);
        margin-left: var(--space-3);

        &.is-writing {
          animation: blinkAnimation 2s infinite;
        }
      }
    }
  }