.nav-container {
  height: 100%;
  display: flex;
  justify-content: center;

  .nav-list {
    width: 100%;
    max-width: var(--max-w-width-wrapper);
    padding: 0px var(--space-3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-item {
      h2 {
        color: var(--gray-500);
        transform: scale(1);
        transition: 0.4s color, 0.4s transform;
      }

      &.active {
        h2 {
          transform: scale(1.2);
          color: var(--color-accent1);
        }
      }

    }
  }
}