<div class="characteristics-item">

  <div class="card-header">
    <div class="infos">
      <div class="title-container">
        <h3>{{characteristic().title}}</h3>
        @if(characteristic().infos.length>0){
        <button class="btn-icon" (click)="openCharacteristicInfosDialog()">
          <fa-icon [icon]="infoIcon"></fa-icon>
        </button>
        }
      </div>
      @if(characteristic().bluetoothAction===bluetoothAction.Read
      ||characteristic().bluetoothAction===bluetoothAction.ReadWrite){
      <div class="value-container">
        <p>Value:</p>
        <p [ngClass]="updated()?'value updated':'value'">
          @switch (characteristic().dataType) {
          @case(bluetoothDataType.Boolean){
          {{characteristic().value?'True':'False'}}
          }
          @default {
          {{characteristic().value.length>0?characteristic().value:'No value'}}
          }
          }
        </p>
      </div>

      @if(characteristic().infos.length>0){

      @let infoOfValue=(characteristic().value | valuetoToCharacteristicInfo:characteristic().infos);

      @if(infoOfValue){
      <div class="info-of-value-container">
        <p class="info-of-value">Info: {{infoOfValue.description}}</p>
      </div>
      }

      }
      }
    </div>
    @if(characteristic().bluetoothAction===bluetoothAction.Read
    ||characteristic().bluetoothAction===bluetoothAction.ReadWrite ){
    <button [ngClass]="isReading()?'read-btn btn-icon is-reading':'read-btn btn-icon'" (click)="readCharacteristic()">
      <fa-icon [icon]="readIcon"></fa-icon>
    </button>
    }
  </div>

  @if(characteristic().bluetoothAction===bluetoothAction.Write
  ||characteristic().bluetoothAction===bluetoothAction.ReadWrite ){
  <div class="input-container">
    <div class="input-wrapper">
      <p class="label">{{characteristic().description}}</p>
      <form [formGroup]="characteristicValueForm">

        @switch (characteristic().dataType) {
        @case(bluetoothDataType.Boolean){
        <mat-slide-toggle [formControlName]="FGK.BooleanValue"></mat-slide-toggle>
        }
        @case (bluetoothDataType.Number){
        <input type="number" [formControlName]="FGK.NumberValue" placeholder="Value to send">
        }
        @default {
        <input type="text" [formControlName]="FGK.StringValue" placeholder="Value to send">
        }
        }
      </form>

    </div>
    <button [ngClass]="isWriting()?'write-btn btn-std is-writing':'write-btn btn-std'" (click)="writeCharacteristic()">
      Send
    </button>
  </div>
  }
</div>