<div class="characteristics-item">

  <div class="card-header">
    <div class="infos">
      <div class="title-container">
        <h3>{{characteristic().title}}</h3>
        @if(characteristic().infos.length>0){
        <button mat-icon-button (click)="openCharacteristicInfosDialog()">
          <fa-icon [icon]="infoIcon"></fa-icon>
        </button>
        }
      </div>
      @if(characteristic().bluetoothAction===bluetoothAction.Read
      ||characteristic().bluetoothAction===bluetoothAction.ReadWrite){
      <div class="value-container">
        <p>Value:</p>
        <p [ngClass]="updated()?'value updated':'value'">
          @switch (characteristic().dataType) {
          @case(bluetoothDataType.Boolean){
          {{characteristic().value?'True':'False'}}
          }
          @default {
          {{characteristic().value.length>0?characteristic().value:'No value'}}
          }
          }
        </p>
      </div>

      @if(characteristic().infos.length>0){

      @let infoOfValue=(characteristic().value | valuetoToCharacteristicInfo:characteristic().infos);

      @if(infoOfValue){
      <div class="info-of-value-container">
        <p class="info-of-value">Info: {{infoOfValue.description}}</p>
      </div>
      }

      }
      }
    </div>
    @if(characteristic().bluetoothAction===bluetoothAction.Read
    ||characteristic().bluetoothAction===bluetoothAction.ReadWrite ){
    <button mat-icon-button [ngClass]="isReading()?'read-btn is-reading':'read-btn'" (click)="readCharacteristic()">
      <fa-icon [icon]="readIcon"></fa-icon>
    </button>
    }
  </div>

  @if(characteristic().bluetoothAction===bluetoothAction.Write
  ||characteristic().bluetoothAction===bluetoothAction.ReadWrite ){
  <div class="input-container flex">
    <div class="input-wrapper w-full mt-5">
      <form [formGroup]="characteristicValueForm">

        @switch (characteristic().dataType) {
        @case(bluetoothDataType.Boolean){
        <mat-slide-toggle class="w-full" [formControlName]="FGK.BooleanValue">{{characteristic().description}}</mat-slide-toggle>
        }
        @case (bluetoothDataType.Number){
        <mat-form-field class="w-full">
          <mat-label>{{characteristic().description}}</mat-label>
          <input matInput [formControlName]="FGK.NumberValue" placeholder="Value to send" />
        </mat-form-field>
        }
        @default {
        <mat-form-field class="w-full">
          <mat-label>{{characteristic().description}}</mat-label>
          <input matInput [formControlName]="FGK.StringValue" placeholder="Value to send" />
        </mat-form-field> }
        }
      </form>

    </div>
    <button mat-flat-button [ngClass]="isWriting()?'write-btn btn-std is-writing mt-5':'write-btn btn-std mt-5'"
      (click)="writeCharacteristic()">
      Send
    </button>
  </div>
  }
</div>