<div class="page-container">
  <div class="width-wrapper">

    @if(bluetoothEnabled()){
    <button  mat-flat-button class="btn-std scan-btn" (click)="scanForDevices()">
      <fa-icon [ngClass]="isScanning()?'scan-icon scanning':'scan-icon'" [icon]="scanIcon"></fa-icon>
      {{isScanning()?'Searching for devices':'Search for devices'}}
    </button>

    <app-bluetooth-device-list [scanResults]="scanResults()"></app-bluetooth-device-list>
    }@else {
    <div mat-flat-button class="bluetooth-disabled-info">
      <p><fa-icon [icon]="infoIcon"></fa-icon> Bluetooth is disabled. Please enable Bluetooth to scan for devices.</p>
    </div>
    }
  </div>
</div>