<section class="page-container">
  <div class="width-wrapper">
    <button class="create-template-btn btn-std" (click)="createTemplate()">
      Create new template
    </button>
    @if(templates().length> 0){
    <ul>
      @for(template of templates();track template.id){
      <li class="template-item">
        <div>
          <h2>{{template.name}}</h2>
          <p>{{template.description}}</p>
        </div>
        <button class="edit-btn btn-icon">
          <fa-icon [icon]="editIcon"></fa-icon>
        </button>
      </li>
      }
    </ul>
    }@else {
    <p class="no-templates-info"><fa-icon [icon]="infoIcon" ></fa-icon> No templates available. Create a new one to get started!</p>
    }
  </div>
</section>