<div class="page-container">
  <div class="width-wrapper">
    <h1>{{scanResult()?.device?.name}}</h1>

    <form [formGroup]="characterisicValuesForm">
      <ul [formArrayName]="FGK.Values" class="characteristics-list">
        @for(characteristic of ucomConnectCharacteristics;track characteristic){
        <li [formGroupName]="$index" class="characteristics-item card-std">
          <div class="card-header">
            <div class="infos">
              <h3>{{characteristic.title}}</h3>
              <div class="value-container">
                <p>Value:</p>
                <p [ngClass]="updatedValueInd()===$index?'value updated':'value'">{{characteristic.value.length>0?characteristic.value:'No value'}}</p>
              </div>
            </div>
            @if(characteristic.bluetoothAction===bluetoothAction.Read
            ||characteristic.bluetoothAction===bluetoothAction.ReadWrite ){
            <button [ngClass]="isReading()?'read-btn btn-icon is-reading':'read-btn btn-icon'"
              (click)="readCharacteristic($index)">
              <fa-icon [icon]="readIcon"></fa-icon>
            </button>
            }
          </div>

          @if(characteristic.bluetoothAction===bluetoothAction.Write
          ||characteristic.bluetoothAction===bluetoothAction.ReadWrite ){
          <div class="input-container">
            <div>
              <label>{{characteristic.description}}</label>
              <input [formControlName]="FGK.Value" placeholder="Value to send">
            </div>
            <button [ngClass]="isWriting()?'write-btn btn-std is-writing':'write-btn btn-std'"
              (click)="writeCharacteristic($index)">
              Send
            </button>
          </div>
          }
        </li>
        }
      </ul>
    </form>

  </div>
</div>