// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "./app/shared/styles/variables.scss";
@use "./app/shared/styles/animations.scss";
@use './app/shared/styles/theme/theme-colors' as custom-theme;
@use "tailwindcss";


//fixed material style
@use './app/shared/styles/base/form-fields.scss';
@use './app/shared/styles/base/buttons.scss';

// material theme
html {
  @include mat.theme((color: (theme-type: light,
        primary: custom-theme.$primary-palette,
        tertiary: custom-theme.$tertiary-palette,
      ),
      density: 0,
    ));
}

//ionic
ion-toolbar {
  --background: white;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  background-color: transparent;
  border: unset;
}

.page-container {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: var(--space-3);
  height: 100%;
  overflow-y: auto;
}

.width-wrapper {
  width: 100%;
  max-width: var(--max-w-width-wrapper);
  margin: auto 0;
}

h1 {
  font-size: var(--fs-26);
}

h2 {
  font-size: var(--fs-20);
}

h3 {
  font-weight: 900;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  color:black;
}


//cards--------------------------------------
.card-std {
  margin: var(--space-3) 0px;
  padding: var(--space-3);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow-std);
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/display.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';