/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use "./app/shared/styles/variables.scss";
@use "./app/shared/styles/animations.scss";

html,
body {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

button {
  background-color: transparent;
  border: unset;
}

.page-container {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: var(--space-3);
  height: 100%;
  overflow-y: auto;
}

.width-wrapper {
  width: 100%;
  max-width: var(--max-w-width-wrapper);
}

h1 {
  font-size: var(--fs-24)
}

h2 {
  font-size: var(--fs-20)
}

h3 {
  font-size: var(--fs-14);
  font-weight: 900;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px
}

//inputs-------------------------------------
input {
  width: 100%;
  border: solid 1px var(--gray-300);
  border-radius: var(--radius-l);
  padding: var(--space-3);
  box-shadow: var(--box-shadow-light);
}

input::placeholder {
  color: var(--gray-500);
}

input:focus {
  outline: none;
}

label {
  font-size: var(--fs-10);
  color: var(--gray-500);
}

//buttons------------------------------------
.btn-std {
  width: 100%;
  border-radius: var(--radius-l);
  box-shadow: var(--box-shadow-std);
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: var(--fs-18);
  padding: var(--space-3) var(--space-4);
}

.btn-icon {
  color: var(--color-primary);
  padding: var(--space-3);
  font-size: var(--fs-18);
}

//cards--------------------------------------
.card-std {
  margin: var(--space-3) 0px;
  padding: var(--space-3);
  border-radius: var(--radius-m);
  box-shadow: var(--box-shadow-std);
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';