.toolbar-container {
  padding: var(--space-3);
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow-light);
  margin-bottom: var(--space-4);
  height: 100%;

  .width-wrapper {
    display: flex;
    align-items: center;

    #logo {
      max-width: 34px;
      margin-right: var(--space-1);
    }

  }

}