.toolbar-container {
  padding: var(--space-3);
  display: flex;
  justify-content: center;
  height: 100%;

  .width-wrapper {
    display: flex;
    align-items: center;

    #logo {
      max-width: 34px;
      margin-right: var(--space-1);
    }

  }

}