<div class="create-or-update-characteristic-dialog p-5">

  <div class="flex items-center justify-between">
      <h1 class="py-5">Create Characteristic</h1> 
      <button mat-flat-button (click)="deleteCharacteristic()" >
        {{deletePossible()?'Really delete?':'Delete'}}
      </button>
  </div>

  <form [formGroup]="characteristicForm" class="form-container w-full" (submit)="saveCharacteristic()" (click)="clearReallyDelete()">
    <mat-form-field class="w-full">
      <mat-label>Title</mat-label>
      <input matInput [formControlName]="FGK.Title" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Description</mat-label>
      <input matInput [formControlName]="FGK.Description" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>UUID</mat-label>
      <input matInput [formControlName]="FGK.UUID" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Service UUID</mat-label>
      <input matInput [formControlName]="FGK.ServiceUUID" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Data Type</mat-label>
      <mat-select [formControlName]="FGK.DataType">
        @for(dt of bluetoothDataTypes; track dt) {
        <mat-option [value]="dt">{{ dt }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Bluetooth Action</mat-label>
      <mat-select [formControlName]="FGK.BluetoothAction">
        @for(action of bluetoothActions; track action) {
        <mat-option [value]="action">{{ action }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox [formControlName]="FGK.ReadAfterEveryWrite" class="mb-5 flex items-center justify-center">
      Read After Every Write
    </mat-checkbox>

    <div [formArrayName]="FGK.Infos" class="info-array">
      @for(info of infos.controls; track info){
      <div [formGroupName]="$index" class="info-group mb-4">
        <div class="flex flex-row items-center justify-between mb-2">
          <h3>Info #{{ $index + 1 }}</h3>
          <button mat-icon-button color="danger" (click)="removeInfo($index)">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>
        </div>
        <mat-form-field class="w-full">
          <mat-label>Title</mat-label>
          <input matInput [formControlName]="FGK.Title" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Description</mat-label>
          <input matInput [formControlName]="FGK.Description" />
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Value Key </mat-label>
          <input matInput [formControlName]="FGK.ValueKey" />
        </mat-form-field>
      </div>
      }
    </div>

    <div class="flex w-full gap-2">
      <button class="w-1/2" mat-button color="primary" type="button" (click)="addInfo()">Add Info</button>
      <button class="w-1/2" mat-raised-button color="accent" type="submit"
        [disabled]="characteristicForm.invalid">Submit</button>
    </div>

  </form>
</div>