<div class="create-or-update-characteristic-dialog">
  <h1>Create Characteristic</h1>
  <form [formGroup]="characteristicForm" class="form-container">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>UUID</mat-label>
      <input matInput formControlName="uuid" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Service UUID</mat-label>
      <input matInput formControlName="serviceUUID" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data Type</mat-label>
      <mat-select formControlName="dataType">
        @for(dt of bluetoothDataTypes; track dt) {
        <mat-option [value]="dt">{{ dt }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bluetooth Action</mat-label>
      <mat-select formControlName="bluetoothAction">
        @for(action of bluetoothActions; track action) {
        <mat-option [value]="action">{{ action }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="readAfterEveryWrite">Read After Every Write</mat-checkbox>

    <div formArrayName="infos" class="info-array">
      @for(info of infos.controls; track info){
      <div [formGroupName]="$index" class="info-group">
        <h3>Info #{{ $index + 1 }}</h3>

        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Value Key</mat-label>
          <input matInput formControlName="valueKey" />
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="removeInfo($index)">
          <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
      </div>
      }
    </div>

    <button mat-button color="primary" type="button" (click)="addInfo()">Add Info</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="characteristicForm.invalid">Submit</button>
  </form>
</div>